BOT_NAME=Yixuan-MD
BOT_CORE=Auric Core
BOT_PREFIX=!

ZEROTWO_BASE_URL=https://zero-two-apis.com.br
ZEROTWO_API_KEY=COLOQUE_SUA_KEY_AQUI

GEMINI_API_KEY=COLOQUE_SUA_KEY_AQUI
GEMINI_MODEL=gemini-2.5-flash

OWNER_NAME=Luxyii
OWNER_NUMBERS=5511999999999
OWNER_LIDS=157544450392085@lid

PRIVATE_MODE=false
AUTO_READ=false
REACT_COMMANDS=false

COMMAND_COOLDOWN_MS=700
SAVE_INTERVAL_MS=5000
METADATA_CACHE_MS=60000
MAX_COMMAND_ERRORS=3

AUTO_RESTART_MINUTES=20


// Pegue sua key em https://zero-two-apis.com.br